Below method was attempted, however the first line of each csv would not line break properly in the new csv; there were ~ 150 rows with only, of which only 11 had data past the first row. Concatenating csvs manually deemed faster than debugging in this case

https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/

Historic data available from binance, csvs were downloaded and manually concatenated; 

https://data.binance.vision/?prefix=data/spot/monthly/klines/ETHUSDT/1m/

In [3]:
import os
import glob
import pandas as pd

In [4]:
df1 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-01.csv", header=None)
df2 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-02.csv", header=None)
df3 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-03.csv", header=None)
df4 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-04.csv", header=None)
df5 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-05.csv", header=None)
df6 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-06.csv", header=None)
df7 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-07.csv", header=None)
df8 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-08.csv", header=None)
df9 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-09.csv", header=None)
df10 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-10.csv", header=None)
df11 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-11.csv", header=None)
df12 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2021-12.csv", header=None)
df13 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2022-01.csv", header=None)
df14 = pd.read_csv (r"C:\Users\conal\Desktop\MCM\Practicum\data\ETH\ETHUSDT-1m-2022-02.csv", header=None)

In [20]:
merged = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14])
merged = merged.rename(columns={0:'Open_time', 1:'Open', 2:'High', 3:'Low', 4:'Close', 5:'Volume',  
                        6:'Close_time', 7:'Quote_asset_volume', 8:'Number_of_trades', 
                        9:'Taker_buy_base_asset_volume',10:'Taker_buy_quote_asset_volume', 11:'Ignore'})

In [21]:
merged.head()

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1609459200000,736.42,737.09,735.94,737.02,647.71994,1609459259999,476877.876291,359,484.87834,356959.311632,0
1,1609459260000,737.12,739.00,737.06,738.74,1122.95415,1609459319999,828662.134054,643,801.45291,591231.725025,0
2,1609459320000,738.78,738.81,737.35,737.82,418.49987,1609459379999,308922.657830,283,202.66306,149569.394165,0
3,1609459380000,737.74,738.20,737.28,737.43,305.98424,1609459439999,225752.744573,251,235.36847,173656.181372,0
4,1609459440000,737.38,737.80,736.80,736.89,350.36312,1609459499999,258306.222210,277,217.56157,160412.714708,0

In [23]:
merged.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH\eth_price_data_2021-01-01_2022-03-02.csv', sep=',', index=False)