In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [4]:
df = pd.read_csv (r'C:\Users\conal\Desktop\MCM\Practicum\data\min,max,average gas 11-26 to 01-26 QUERY 2.csv', header=0)
df['datetime'] = pd.to_datetime(df['block_timestamp'], format = '%Y-%m-%d %H:%M:%S UTC')
df['timestamp'] = df['datetime'].astype(np.int64) // 10**9
df = df.sort_values(by='block_timestamp',ascending=False)
df = df.set_index('datetime')
df_block_gas_price = df.resample('1T').mean()
df_block_gas_price.head()

C:\Users\conal\AppData\Local\Temp/ipykernel_30392/3488875845.py:3: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['timestamp'] = df['datetime'].astype(np.int64) // 10**9

                     avg_gas_price  max_gas_price  min_gas_price     timestamp
datetime
2021-11-26 00:00:00   9.687951e+10   3.401478e+11   8.168553e+10  1.637885e+09
2021-11-26 00:01:00   1.005554e+11   3.918277e+11   8.240792e+10  1.637885e+09
2021-11-26 00:02:00   9.189840e+10   4.351020e+11   7.540829e+10  1.637885e+09
2021-11-26 00:03:00   9.104711e+10   3.787148e+11   8.379399e+10  1.637885e+09
2021-11-26 00:04:00   1.081415e+11   5.355105e+11   9.635265e+10  1.637885e+09

In [5]:
df = pd.read_csv (r'C:\Users\conal\Desktop\MCM\Practicum\data\ethprice_full_data__6__2021.csv', header=0)
df['datetime'] = pd.to_datetime(df['timestamp'], unit='s')
df['timestamp'] = df['datetime'].astype(np.int64) // 10**9
df= df.sort_values(by='timestamp',ascending=False)
df = df[['timestamp', "Open", 'datetime']]
df_eth = df.set_index('datetime')

df_eth.head()

C:\Users\conal\AppData\Local\Temp/ipykernel_30392/371813452.py:3: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['timestamp'] = df['datetime'].astype(np.int64) // 10**9

                      timestamp     Open
datetime
2021-11-26 23:43:00  1637970180  4033.45
2021-11-26 23:42:00  1637970120  4048.31
2021-11-26 23:41:00  1637970060  4057.11
2021-11-26 23:40:00  1637970000  4059.68
2021-11-26 23:39:00  1637969940  4073.14

In [6]:
df = pd.read_csv (r'C:\Users\conal\Desktop\MCM\Practicum\data\gas limit, gas used 11-26 to 01-26.csv', header=0)
df['datetime'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S UTC')
df['timestamp'] = df['datetime'].astype(np.int64) // 10**9
df = df.sort_values(by='timestamp',ascending=False)
df = df.set_index('datetime')
df_block_gas_usage = df.resample('1T').mean()
df_block_gas_usage.head()

C:\Users\conal\AppData\Local\Temp/ipykernel_30392/3812387293.py:3: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['timestamp'] = df['datetime'].astype(np.int64) // 10**9

                        timestamp     gas_limit      gas_used
datetime
2021-11-26 00:00:00  1.637885e+09  2.999267e+07  1.347163e+07
2021-11-26 00:01:00  1.637885e+09  2.999999e+07  1.516819e+07
2021-11-26 00:02:00  1.637885e+09  3.004394e+07  1.820355e+07
2021-11-26 00:03:00  1.637885e+09  2.999999e+07  1.802044e+07
2021-11-26 00:04:00  1.637885e+09  3.001463e+07  1.573136e+07

In [7]:
merged_eth_usage = df_block_gas_usage.merge(df_eth, left_index=True, right_index=True)

In [8]:
merged_eth_usage.head()

,timestamp_x,gas_limit,gas_used,timestamp_y,Open
datetime,,,,,
2021-11-26 00:00:00,1.637885e+09,2.999267e+07,1.347163e+07,1637884800,4524.48
2021-11-26 00:01:00,1.637885e+09,2.999999e+07,1.516819e+07,1637884860,4529.90
2021-11-26 00:02:00,1.637885e+09,3.004394e+07,1.820355e+07,1637884920,4528.51
2021-11-26 00:03:00,1.637885e+09,2.999999e+07,1.802044e+07,1637884980,4533.54
2021-11-26 00:04:00,1.637885e+09,3.001463e+07,1.573136e+07,1637885040,4534.97

In [9]:
df_merged = merged_eth_usage.merge(df_block_gas_price, left_index=True, right_index=True)
df_merged.head()

,timestamp_x,gas_limit,gas_used,timestamp_y,Open,avg_gas_price,max_gas_price,min_gas_price,timestamp
datetime,,,,,,,,,
2021-11-26 00:00:00,1.637885e+09,2.999267e+07,1.347163e+07,1637884800,4524.48,9.687951e+10,3.401478e+11,8.168553e+10,1.637885e+09
2021-11-26 00:01:00,1.637885e+09,2.999999e+07,1.516819e+07,1637884860,4529.90,1.005554e+11,3.918277e+11,8.240792e+10,1.637885e+09
2021-11-26 00:02:00,1.637885e+09,3.004394e+07,1.820355e+07,1637884920,4528.51,9.189840e+10,4.351020e+11,7.540829e+10,1.637885e+09
2021-11-26 00:03:00,1.637885e+09,2.999999e+07,1.802044e+07,1637884980,4533.54,9.104711e+10,3.787148e+11,8.379399e+10,1.637885e+09
2021-11-26 00:04:00,1.637885e+09,3.001463e+07,1.573136e+07,1637885040,4534.97,1.081415e+11,5.355105e+11,9.635265e+10,1.637885e+09

In [15]:
df_merged_gwei = df_merged
df_merged_gwei['min_gas_price'] = df_merged['min_gas_price'].apply(lambda x: x/1000000000)
df_merged_gwei['avg_gas_price'] = df_merged['avg_gas_price'].apply(lambda x: x/1000000000)
df_merged_gwei['max_gas_price'] = df_merged['max_gas_price'].apply(lambda x: x/1000000000)
df_merged_gwei['block_utilisation'] = df_merged['gas_used']/df_merged['gas_limit']
df_merged_gwei = df_merged_gwei.drop(['timestamp_x', 'timestamp'], axis=1)
df_merged_gwei.head()

,gas_limit,gas_used,timestamp_y,Open,avg_gas_price,max_gas_price,min_gas_price,block_utilisation
datetime,,,,,,,,
2021-11-26 00:00:00,2.999267e+07,1.347163e+07,1637884800,4524.48,9.687951e-08,3.401477e-07,8.168553e-08,0.449164
2021-11-26 00:01:00,2.999999e+07,1.516819e+07,1637884860,4529.90,1.005554e-07,3.918277e-07,8.240792e-08,0.505607
2021-11-26 00:02:00,3.004394e+07,1.820355e+07,1637884920,4528.51,9.189840e-08,4.351020e-07,7.540829e-08,0.605898
2021-11-26 00:03:00,2.999999e+07,1.802044e+07,1637884980,4533.54,9.104711e-08,3.787148e-07,8.379399e-08,0.600682
2021-11-26 00:04:00,3.001463e+07,1.573136e+07,1637885040,4534.97,1.081415e-07,5.355105e-07,9.635265e-08,0.524123

In [11]:
df_merged_gwei.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged 11-26 to 01-26.csv', sep=',')

In [18]:
df_merged_gwei_5min = df_merged_gwei.resample('5T').mean()
df_merged_gwei_60min = df_merged_gwei.resample('60T').mean()

In [19]:
df_merged_gwei_5min.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged_5min 11-26 to 01-26.csv', sep=',')

In [20]:
df_merged_gwei_60min.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged_60min 11-26 to 01-26.csv', sep=',')

In [21]:
df_merged_gwei_10min = df_merged_gwei.resample('10T').mean()
df_merged_gwei_10min.to_csv(r'C:\Users\conal\Desktop\MCM\Practicum\data\ETH,gas,usage merged_10min 11-26 to 01-26.csv', sep=',')